//RESET
@import "base/reset";

//home
@import "pages/home";

//servicios
@import "pages/servicios";

//contacto
@import "pages/contacto";

//lo del media query en duda
@media (max-width: 1024px) {
  body {
    font-size: 16px;
    padding: 10px;
  }

  header {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;

    nav ul {
      flex-direction: column;
      gap: 20px;
      margin: 20px 0 0 0;
      font-size: 18px;
      align-items: flex-start;
    }
  }

  .banner {
    margin: 0;
    flex-direction: column;
    align-items: flex-start;
  }

  main {
    flex-direction: column;
    padding: 10px;

    .introduccion {
      margin: 40px 10px;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      text-align: center;
    }

    .contenido {
      flex-direction: column;
      text-align: center;
      margin: 0 auto;
    }

    .img {
      justify-content: center;
      margin: 20px auto;

      img {
        width: 90%;
      }
    }

    h2 {
      margin: 200px;
      margin-top: 75px;
      margin-bottom: 0%;
      color: rgba(92, 43, 38, 0.8);
      font-size: 30px;
    }
  }

  footer {
    h4 {
      color: rgba(61, 13, 132, 0.736);
      font-size: 10px;
      margin: 100px;
      margin-bottom: 1%;
      margin-top: 3%;
      text-align: center;
    }

    h5 {
      color: rgba(61, 13, 132, 0.736);
      font-size: 20px;
      margin-top: 1%;
      margin-bottom: 0%;
      text-align: center;
    }
  }

  .grid-container {
    grid-template-columns: 1fr;
    margin: 20px;
    text-align: center;
  }
  
  .grid-dos-columnas {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin: 20px;
    text-align: center;
  }

  .imagen {
    grid-row: auto;
    order: 3;
    margin-top: 20px;

    img {
      width: 80%;
      height: auto;
    }
  }

  .item {
    font-size: 16px;
    padding: 8px;
    text-align: center;
  }
}