//variables
@import "../abstracts/variables";
//mixin
@import "../abstracts/mixin";

header{
    color: $color-banner;
    @include flex;
    /*con este le doy espacio internamente, no usando margin*/
    .banner{
        color: $color-titulosysub;
       padding: 20 100px;
        margin-bottom: 1%;
        display: flex;
        justify-content: space-between;
    }
    nav {
        @include estilos-header-div-nav ($color-titulosysub);
    }


    .fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    }
}


body {
  background-color: $color-fondo;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  background-color: $color-fondo;

  .contenido {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    padding: 20px;
  }

  .introduccion {
    flex: 1 1 300px;
    font-size: 20px;
    padding: 10px;
    
  }

  .introduccion p {
  margin-bottom: 20px;
}

  .fotointro {
    flex: 1 1 300px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-width: 100%;
      height: auto;
    }
  }
}

footer{
    color: $color-titulosysub;
    font-size: 10;
    margin: 100px;
    margin-bottom: 1%;
    margin-top: 3%;
    text-align:center;
    background-color: $color-fondo;
}

//------------------------

@media (max-width: 768px) {
  main {
    flex-direction: column;
    align-items: flex-start;
    padding: 0 20px;

    .contenido {
      flex-direction: column;
      align-items: center;
    }

    .introduccion {
      text-align: center;
    }

    .fotointro {
      img {
        width: 90%;
      }
    }
  }
}



