//variables
@import "../abstracts/variables";
//mixin
@import "../abstracts/mixin";

header{
    color: $color-banner;
    @include flex;
    padding-right: 30px;/*con este le doy espacio internamente, no usando margin*/
    .banner{
        color: $color-titulosysub;
        margin-left: 200px;
        margin-top: 45px;
        margin-bottom: 1%;
    }
    nav {
        @include estilos-header-div-nav ($color-titulosysub);
    }
}

main{
    h2{
        margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
    color: $color-tipografia;
    font-size: 30px;
    }
    @include h2 ($color-tipografia);
    .grid-container {
        display: grid;
    grid-template-columns: 1fr; // ← SOLO UNA COLUMNA
    gap: 50px;
    margin-top: 45px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 150px;
    color: $color-textos;
    text-align: justify;
    line-height: 2;
    font-size: 18px;
        }
        
    main .grid-container div span{
        display: block;
        color: $color-tipografia;
        margin-bottom: 15px; /*para separarlo del renglon de arriba*/
        font-size: 24px;
        }
}

.grid-container h3 {
  color: $color-tipografia; 
  margin-bottom: 15px;
  font-size: 24px; 
  font-weight: bold;
}

/* para el: por consulta contactanos, en la pagina de servicios*/
footer h5 {
    color: rgba(61, 13, 132, 0.736);
    font-size: 20px;
    margin-top: 1%;
    margin-bottom: 0%;
    text-align:center;
}

footer h4 {
  font-size: 22px;
  color: $color-tipografia; 
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 8px;
  display: inline-block;

  a {
    text-decoration: none;
    color: $color-titulosysub; 
    &:hover {
      text-decoration: underline;
    }
  }
}